
  
/* GALERIA */

.caja_actividades {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;}
    
  .caja_galeria {
    width:350px;
    padding:5px;
    margin:5px;}
  
  
  /* FIN DE GALERIA */	