@charset "utf-8";
/* Slider*/

.header-banner {
}
.banner {
	overflow:hidden;}

.slider{
	position:relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides_tabs{
	background: none !important;
	border: none;
	box-shadow: none;
	position: relative;
	top: -90px;
	z-index: 999;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	visibility:visible;
	display: block;
	height: 20px;
	width: 20px;
	display: inline-block;
	border-radius: 50%;
	background:#5D5D5D;
	visibility:hidden;
}
.callbacks_here a:after{
	background: #fff;
	visibility:hidden;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
	visibility:hidden;
}

